body {
    background-color: maroon;
}

.nav {
    background-color: rgb(195, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
    transition: 500ms;
    position: relative;
    top: 0px;
}

.nav a:hover {
    background-color: maroon;
    top: -4px;
}

h1 {
    text-align: center;
    color: white;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

img {
    position: relative;
    margin: 10px;
    border-radius: 10px;
    width: 200px;
    transition: transform 1s ease;
}

img:hover {
    transform: scale(1.2) translateY(-20px) rotate(10deg);
}